
/*#region ROOT STYLES */

body {
    background-color: #100303;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p {    
    color: #999999;
}

header,
nav,
section {
    display: block;
}

/*#endregion*/

/*#region HEADINGS */

h1, h2, h3, h4, h5, h6 {
    color: #999999;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/*#endregion*/

/*#region PRIMARY LAYOUT ELEMENTS */

.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #ffffff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 0 0 0.75em #FFD000, 0 0 0.5em #FFD000, 0 0 0.25em #FFD000, 0 0 0.1em #FFD000
}

#main {
    padding: 30px 30px 15px 30px;
    border: 1px solid #FFDD11;
    border-radius: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

footer, 
#footer 
{
    width: inherit;
    position: absolute;
    bottom: 0px;
    text-align: left;
}

/*#endregion*/

/*#region TAB-MENU */

ul#menu {
    padding: 0 0 2px;
    position: relative;
    margin: 0;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #ffffff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #FFDD11;
    color: Black;
    border-radius: 4px 4px 0 0;
    
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: Yellow;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: Orange;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: Green;
    color: Orange;
}

/*#endregion*/

/*#region MISC */

.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
}

/*#endregion*/
